.qr-container{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 240px;
    width: 320px;
}
.Qr-scanner{
    height: 240px;
    width: 320px;
}

.Qr-result{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
