.qr-reader-container{
    width: 100%;
    margin-top: 60px;
}

.qr-reader-result{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 20px;
    border: 1px solid white;
}

.result-anchor-tag{
    color: white;
}
.result-anchor-tag:active{
    color: white;
}
.button-styles{
    padding: 20px;
    border:none;
    color: black;
    background-color: white;
    border-radius: 4px;
    margin: 20px;
}
.no-display{
    display: none;
}